.attribute-menu {
  position: absolute;
  right: 30px;
  top: 30px;

  width: 250px;


  .toolbarMenuOption {
    margin: 10px 0;
    padding: 24px;
    box-sizing: border-box;
    background: white;
    border-radius: 12px;
  }

}