.row {
  margin-bottom: 20px;

  .title {
    margin-top: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    color: #333;
  }
  .subtitle-block {
    padding: 5px 0;
    font-size: 12px;
  }
  .sub-col {
    display: flex;
    align-items: center;

    .subtitle {
      text-align: left;
      font-size: 12px;
      color: #333;
    }
  }


}




